@model MercadoIGL.Models.Consulta.QuerryVenda

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>VendaQrs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="produto" class="control-label"></label>
                <input asp-for="produto" class="form-control" />
                <span asp-validation-for="produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente" class="control-label"></label>
                <input asp-for="cliente" class="form-control" />
                <span asp-validation-for="cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario" class="control-label"></label>
                <input asp-for="Funcionario" class="form-control" />
                <span asp-validation-for="Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorTotal" class="control-label"></label>
                <input asp-for="valorTotal" class="form-control" />
                <span asp-validation-for="valorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
