@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder text-black">MERCADO IGL</h1>
    <img src="https://seeklogo.com/images/C/carrinho-de-supermercado-logo-84CEB674DF-seeklogo.com.png" alt="">
    <br />
    <br />
    <p class="fw-bolder text-black">Sistema Gerenciador de SuperMercado</p>
</div>
